<div class="ui-g">
  <div class="ui-g-12">
    <app-top-nav></app-top-nav>
  </div>
</div>
<div class="ui-g">
  <div class="ui-g-12">
    <app-login-signup *ngIf="(allBars$ | async).displayLoginForm" visible="true"></app-login-signup>
    <app-truck-event-dialog *ngIf="(allBars$ | async).displayEventForm" visible="true"></app-truck-event-dialog>
    <app-calendar></app-calendar>
  </div>
</div>