<div #container class="calendar_container">
  <p-schedule [events]="eventList" [header]="header" (onViewRender)="loadEvents($event)" [defaultDate]="getDate()" defaultView='agendaWeek'
    slotDuration="01:00"  [eventLimit]="false" [weekends]="false" minTime="8:00" maxTime="20:00" height='auto'
    [droppable]="true" (onDayClick)="handleDayClick($event)" [eventRender]="handleEventRender" (onEventClick)="handleEventClick($event)"
    (drop)="drop($event)" [editable]="false" [nowIndicator]="true" [allDaySlot]="false">

  </p-schedule>
</div>