<p-dialog header="New truck departure" [visible]="true" modal="modal" [closeOnEscape]="false" [closable]="false" [appendTo]="body"
  [positionTop]=80 [responsive]="true">

  <form *ngIf="true" [formGroup]="eventForm" novalidate>
    <div style="margin-top:30px">
      <div class="ui-g ui-fluid">
        <span class="ui-inputgroup-addon">
          <i class="fa fa-envelope"></i>
          <input style="width:240px;margin-left:.5em" formControlName="email" type="email" pInputText placeholder="Email" pTooltip="Enter your email"
            tooltipEvent="focus" tooltipPosition="top">
          <div *ngIf="email.dirty && !email.valid">
            <p-message style="margin-left:.5em" severity="error" text="this is not a valid email"></p-message>
          </div>
        </span>
      </div>
    </div>

    <div style="margin-top:30px">
      <div class="ui-g ui-fluid">
        <span class="ui-inputgroup-addon">
          <p-calendar [(ngModel)]="startdate" [showIcon]="true" hourFormat="24" [disabledDays]="[0,6]" stepHour="1" stepMinute="60"
            formControlName="startdate"></p-calendar>
          <span style="margin-left:35px">{{startdate|date}}</span>

          <div *ngIf="email.dirty && !email.valid">
            <p-message style="margin-left:.5em" severity="error" text="this is not a valid email"></p-message>
          </div>
        </span>
      </div>
    </div>

    <div style="margin-top:30px">
      <div class="ui-g ui-fluid">
        <span class="ui-inputgroup-addon">
          <p-calendar [(ngModel)]="starttime" [showIcon]="true" showTime="true" hourFormat="24" [disabledDays]="[0,6]" stepHour="1"
            stepMinute="60" formControlName="starttime"></p-calendar>
          <span style="margin-left:35px">{{starttime|date}}</span>

          <div *ngIf="email.dirty && !email.valid">
            <p-message style="margin-left:.5em" severity="error" text="this is not a valid email"></p-message>
          </div>
        </span>
      </div>
    </div>


    <div style="margin-top:20px;margin-bottom:70px">
      <div class="ui-g ui-fluid">
        <h3>Enable this time? </h3>
        <p-inputSwitch onLabel="Yes" offLabel="No" [(ngModel)]="checked2"></p-inputSwitch>
      </div>
    </div>
    <p-footer>
      <div class="flex-container">
        <div>
          <button pButton type="button" label="InsertEvent" (click)="insertEvent()" [disabled]="!eventForm.valid">
          </button>
        </div>
        <div>
          <button pButton type="button" label="Cancel" (click)="cancel()"> </button>
        </div>
      </div>

    </p-footer>
  </form>
</p-dialog>